on property:sys.boot_completed=1

# Tweak Interactive Governor
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load 111
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay "20000 633600:20000 1113600:30000 1401600:40000"
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate 30000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq 0
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack 20000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads "85 633600:90 1113600:95 1747200:99"
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time 39000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/ignore_hispeed_on_notif 1
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/boost 0
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/fast_ramp_down 1
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/align_windows 0
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/use_migration_notif 1
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/enable_prediction 0
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/use_sched_load 1
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/max_freq_hysteresis 0
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse_duration 80000

    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load 111
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay "20000 633600:20000 1113600:30000 1401600:40000"
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_rate 30000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq 0
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_slack 20000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads "80 633600:86 1113600:90 1401600:95 2150400:98"
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/min_sample_time 39000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/ignore_hispeed_on_notif 1
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/boost 0
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/fast_ramp_down 1
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/align_windows 0
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/use_migration_notif 1
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/enable_prediction 0
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/use_sched_load 1
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/max_freq_hysteresis 0
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse_duration 80000

# Enable DT2W
    write /sys/devices/soc/c175000.i2c/i2c-1/1-0020/input/input2/wake_gesture 1
